:root {
  font-family: Pretendard, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2c2c; /* Figma-like dark gray */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input, select, textarea {
  background-color: #383838;
  border: 1px solid #444;
  border-radius: 4px;
  color: white;
  padding: 8px;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid #646cff;
  border-color: #646cff;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 0.9em;
  color: #aaa;
}
